  @font-face {
  	font-display: swap;
  	font-family: "Roboto";
  	font-style: normal;
  	font-weight: 400;
  	src:url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
  	url("../fonts/roboto-v20-latin-regular.woff") format("woff");
  }
  @font-face {
  	font-family: "Roboto";
  	font-style: normal;
  	font-weight: 500;
  	src:url("../fonts/roboto-v20-latin-500.woff2") format("woff2"),
  	url("../fonts/roboto-v20-latin-500.woff") format("woff");
  }
  @font-face {
  	font-family: "Roboto";
  	font-style: normal;
  	font-weight: 700;
  	src:url("../fonts/roboto-v20-latin-700.woff2") format("woff2"),
  	url("../fonts/roboto-v20-latin-700.woff") format("woff");
  }
  @font-face {
  	font-family: "Roboto";
  	font-style: italic;
  	font-weight: 300;
  	src: url("../fonts/roboto-v20-latin-300italic.woff2") format("woff2"),
  	url("../fonts/roboto-v20-latin-300italic.woff") format("woff");
  }
  html {
  	box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
  	box-sizing: inherit;
  }
  body{
    font-family: "Roboto", sans-serif;
    background-color: #f2ce97;
  }
  .user-info{
    display: flex;
    max-width: 1000px;
    margin: 50px auto 0;
    overflow: hidden;
  }
  .avatar_card{
    max-width: 400px;
    background-color: #484956;
    padding: 45px 145px 0 25px;
    color:#fff;
  }
  .avatar_card-heading{
    margin: 0;
  }
  .avatar_card-title{
    margin: 0;
    padding-bottom: 250px;
    font-size: 25px;
  }
  .avatar_card-title::after{
    display: block;
    width: 60px;
    height: 2px;
    margin-top: 5px;
    background-color: tomato;
    content: "";
  }
  .avatar_name{
    position: relative;
    padding-left: 80px;
    padding-bottom: 65px;
    text-transform: capitalize;
  }
  .avatar_name::before{
    position: absolute;
    top: -25px;
    left: 0;
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-image: url("../img/avatar.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
    content: "";
  }
  .avatar_bio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    background-color: #fff;
  }
  .avatar_bio-text{
    margin: 0;
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;
    word-spacing: 2px;
    line-height: 1.2;
    font-weight: 300;
    font-size: 19px;
  }
  .bold-letter{
    font-size: 25px;
  }
  .noticification-part{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
    box-shadow: 0  0 2px 2px rgba(0,0,0,0.5)
  }